body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-template-areas:
    "a a a a a a a a a a a a"
    "a a a a a a a a a a a a"
    "a a a a a a a a a a a a"
    "b b b b b b c c c c c c"
    "b b b b b b c c c c c c"
    "b b b b b b c c c c c c"
    "b b b b b b c c c c c c"
    "b b b b b b c c c c c c"
    "b b b b b b c c c c c c"
    "d d d d d d d d d d d d";
  grid-gap: 10px;
}

@media screen and (max-width: 480px) {

  /* OBS kan stå annat här */
  body {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas:
      "a a a a a a"
      "b b b b b b"
      "b b b b b b"
      "b b b b b b"
      "b b b b b b"
      "b b b b b b"
      "c c c c c c"
      "c c c c c c"
      "d d d d d d"
  }
}

p {
  /*färg på text*/
}

body {
  background-color: white;
}

header {
  background-color: green;
  grid-area: a;
}

section {
  background-color: coral;
  grid-area: b;
}

aside {
  background-color: cornflowerblue;
  grid-area: c;
}

footer {
  background-color: white;
  grid-area: d;
  text-align: center;
}

img#sea {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  /*max-width: 400px;*/
}

img#html {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  /*max-width: 400px;*/
}
