body {
  margin: 1em;
  font-family: "Barlow Condensed", Arial, sans-serif;
  background-image: url(img/arches.png);
  background-color: aqua;
}

h1, h2{
  font-family: "TimesNewRoman";
}

article, aside, footer, nav {
  border-radius: 15px;
  padding: 1%;
}

nav a {
  border-radius: 15px;
}

header img#logo {
  width: 12%;
  margin-right: 1%;
}

footer {
  text-align: center;
}

header img#sea {
  width: 80%;
  border-radius: 15px;
}

/******NAV*****/
.topnav {
  background-color: yellow;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: blue;
  color: black;
}

/* Add an active class to highlight the current page */
.active {
  background-color: skyblue;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/************END NAV************/
/*form styles START*/
/* Style inputs, select elements and textareas */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Style the container */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*form styles END*/
